
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 1rem;
}

.menuBtn {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.25rem;
}

.hideOnDesktop {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  .menuBtn {
    display: block;
  }

  .open {
    display: flex;
    flex-direction: column;
  }

  .hideOnDesktop {
    display: block;
  }
}
